.page {
    padding: 0 15px;
}

.divider {
    border-bottom: 1px solid #e5e5e5;
    margin: 20px 0;
}

.section {
    margin-bottom: 20px;
}

h5 > span {
    font-size: 17px;
    font-weight: 400;
    color: #999;
}

#images {
    display: flex;
    gap: 1rem;
}