*,
*::before,
*::after {
    box-sizing: border-box;
    color: white;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

html[data-bs-theme="light"] {
    --text-color: #000;
}

html[data-bs-theme="dark"] {
    --text-color: #fff;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    color: var(--text-color);
}

label {
    color: var(--text-color);
}

#root {
    isolation: isolate;
}