[Unit]
Description=Autonav 2023 Service

[Service]
Type=simple
User=scr
Restart=always
RestartSec=5s
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/scr/.Xauthority"
ExecStart=/bin/bash /usr/bin/autonav_service.sh

[Install]
WantedBy=multi-user.target